.container{
    display: flex;
    justify-content: center;  /* alinha horizontalmente */
    align-items: center;      /* alinha verticalmente */
}

.main-card{
  position: relative;
  top: -100px; /* empurra a div pra cima, por cima do header */
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
  background-color: #202020;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.title-card{
    color: #fff;
    text-align: center;
}

.text-card{
    color: #ccc;
    font-size: 1.12rem;
    text-align: center;
    margin: 25px 0 0 280px;
    width: 33vw;
}

button{
    margin-top: 20px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-weight: 550;
}

button:hover{
    cursor: pointer;
    background-color: #5c5b5b;
    transition: 2s;
}

.btn-left{
    margin-left: 410px;
    background: none;
}

.btn-right{
    margin-left: 15px;
    background: none;
}

.mini-cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 2rem;
    padding: 1rem;
  }
  
  .card {
    background-color: #292929;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .img-card {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .info, .available {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .taste {
    color: #e0dfdf;
    font-weight: 500;
  }
  
  .price {
    background-color: rgb(173, 248, 236);
    padding: 4px 8px;
    border-radius: 8px;
    font-weight: 400;
  }
  
  .icon-star {
    width: 20px;
    height: 20px;
  }
  
  .rate {
    color: #ffffff;
    font-size: 0.9rem;
  }
  
  .rate span {
    color: #ccc;
  }
  